.git
.DS_Store
.env
.env.*
!.env.example
!.env.docker.example
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
database/database.sqlite
